version: '3'
services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=user
      - POSTGRES_DB=waveondb
    ports:
      - "5432:5432"
    volumes:
      - mydbdata:/var/lib/postgresql

volumes:
  mydbdata: