version: '3'
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: waveondb
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - mydbdata:/var/lib/postgresql

volumes:
  mydbdata: